<div class="container">

    <div class="jumbotron">
        <div class="container">
			<p>Smart Ride uses Apigee services to connect riding machines to the internet allowing for capturing data about the usage of the machine.  Using an array of sensors that capture various real world information like temperature, pressure, speed, gps, etc., a continuous reading of the performance of the motorcycle is collated.  </p>
			
			<p>It is an invaluable tool both for the individual who wants to understand how their favorite machine performs.  For the mechanically keen, it will allow them to tune their machine to suit their preferences and personal lifestyle.  </p>

			<p>For companies manufacturing motorcycles, Smart Ride captures data of inestimable value.  Companies like Royal Enfield regularly sponsor riders.  While they were dependant on manual user feedback, with Smart Ride, they get real time data of performance upto any level of detail they want to obtain.  </p>

			<p>Smart Ride is capable of collecting vast amounts of data.  It then provides amazing value to the user by analyzing data and giving information that is relevant with beautiful visualization.</p>

        </div>
    </div>

	<div class="row featurette">
		<div class="row">
			<div class="col-md-12">
				<h2 class="featurette-heading">Technology<span class="text-muted"> Apigee services and other technologies</span></h2>
				<p class="lead">The Internet of Things is already here and it brings along with it tens of billions of devices that are on and emitting data 24/7.  Compare that to a couple of billion people using the internet some time during their day.  What we needed from a platform was something that had services available so that we could get going with the core of our idea - collecting information from hardware, storing it, retrieving it, evaluating it and therefore avoid investing time in building a globally available backend infrastructure.  The data store, as part of Apigee App Services was for us, in a world of wearable device, let's say, 'ready to wear'.  The REST approach to storage and retrieval was easy for us to use since we were used to the standard.  The second need, considering the quantity of information that we were dealing with, was scalability.  In the available time we were unable to evaluate that entirely, but the signs were positive.</p>
				<p class="lead">As a team, some or all of us in the team were experimenting with new languages and hardware.  We used C to interface with sensors on the Arduino board.  We ran a cgo program (Go which includes C) that runs on the Raspberry Pi to interface with the Arduino and store that on Apigee's datastore.  We used web technologies like HTML, CSS, JavaScript, AngularJS, and d3js to interface with Apigee Services from the browser to view the data.</p>
			</div>

		</div>
	</div>

</div>
