<div class="container">

    <div class="jumbotron">
        <div class="container">
			<p>Smart Ride uses Apigee services to connect riding machines to the internet allowing for capturing data about the usage of the machine.  Using an array of sensors that capture various real world information, a continuous reading of the performance of the motorcycle is collated.  </p>
			
			<p>It is an invaluable tool both for the individual who wants to understand how their favorite machine performs, and for the mechanically keen, it will allow them to tune their machine to suit their preferences and personal lifestyle.  For companies manufacturing motorcycles, Smart Ride captures data of inestimable value.  Companies like Royal Enfield regularly sponsor riders.  While they were dependant on manual user feedback, with Smart Ride, they get real time data of performance upto any level of detail they want to obtain.  </p>

			<p>Smart Ride is capable of collecting vast amounts of data.  It then provides amazing value to the user by analyzing data and giving information that is relevant with beautiful visualization.</p>

        </div>
    </div>

</div>
